# Neighborhoods in Toronto

## PART I
### Put the data from wikipedia into a pandas dataframe 
### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [16]:
import pandas as pd

toronto_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

df = pd.DataFrame(data = toronto_data[0])

df.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [17]:
df = df[df.Borough != 'Not assigned']

In [18]:
df.head(12)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens

### More than one neighborhood can exist in one postal code area. The two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [19]:
pd_new = pd.DataFrame(df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))).reset_index()

In [20]:
pd_new.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. Only one field is updated (Queen's Park)

In [21]:
pd_new[pd_new.Neighbourhood == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [22]:
pd_new.loc[pd_new.Borough == "Queen's Park", 'Neighbourhood'] = "Queen's Park"

In [23]:
pd_new[pd_new.Neighbourhood == "Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

### The shape method print the number of rows of your dataframe.

In [24]:
pd_new.shape

(103, 3)

# PART II

### Add Latitude & Longitude to Dataframe (with geocoder installation)

In [25]:
#!conda install -c conda-forge geocoder --yes

### ATTENTION!: geocoder has created reliability problems.I used this csv online http://cocl.us/Geospatial_data'¶

In [26]:
df_GEO = pd.read_csv('http://cocl.us/Geospatial_data')
df_GEO.head(12)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [27]:
pd_new['Latitude'] = '0';
pd_new['Longitude'] = '0';

for i in pd_new.index:
    for j in df_GEO.index:
        if pd_new.iloc[i, 0] == df_GEO.iloc[j, 0]:
            pd_new.iloc[i, 3] = df_GEO.iloc[j, 1]
            pd_new.iloc[i, 4] = df_GEO.iloc[j, 2]
            
pd_new.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395
5,M1J,Scarborough,Scarborough Village,43.7447,-79.2395
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7279,-79.262
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7111,-79.2846
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.7163,-79.2395
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.6927,-79.2648
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.7574,-79.2733
11,M1R,Scarborough,"Maryvale, Wexford",43.7501,-79.2958

In [28]:
pd_new.shape

(103, 5)